body{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaspkszBVT_HujhSs3WUluH6kaMtcm2T8f9g&usqp=CAU");
margin-left:30%;
margin-right:30%;
margin-top:100px;
color:white;
}
.div1{
color:white;
background-color:#191970;
opacity:90%;
font-weight:bold;
font-family:'Open-Sans',sans-serif;
padding:30px;
box-sizing:border-box;
font-size:20px;
}
input[type=password],input[type=email]
{
width:90%;
padding:15px;
margin-bottom:20px;
border:none;
border-radius:10px;
}
.registerbtn
{
background-color:green;
color:white;
opacity:70%
width:100%;
padding:15px;
cursor:pointer;
font-weight:bold;
font-family:'Open-Sans',sans-serif;

}
